<% var meta = { 
  title:'イベント - MyData Japan', 
  desc:'「MyData Japan」は、MyDataの考え方を日本で広めるための活動をする組織です',
  image: 'https://mydatajapan.org/images/MyDataJapan_ogp.png',
  url: 'https://mydatajapan.org/events.html'
}; %>
<%- include('../_layout/header', {meta: meta}) -%>    
    <section class="hero is-primary is-small">
        <div class="hero-body">
            <div class="container">
                <div class="columns is-desktop is-centered is-spaced">
                    <div class="column is-10 is-spaced">
                        <h1 class="title">イベント</h1>
                        <h2 class="subtitle">MyDataに関するカンファレンス等のイベント情報</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="mdj-content">
        <div class="container">
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">イベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <p>MyData Japan 2019の開催を企画しています。詳細は決定次第掲載いたします。</p>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">国外イベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <a href="https://mydata.org/events/" class="column is-3 is-spaced">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="images/MyData_2019.jpg" alt="MyData 2019">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="is-6">2019/9/25(水) - 2019/9/27(金)</p>
                                    <p class="is-6">ヘルシンキ - フィンランド</p>
                                    <p class="title is-4">MyData 2019</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <hr>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <h1 class="subtitle has-text-weight-semibold">過去のイベント</h1>
                </div>
            </div>
            <div class="columns is-desktop is-centered mdj-content-top">
                <%_ var recentEvents -%>
                <%_ recentEvents.forEach(function(event, key) { -%>
                <a href="<%= event.href %>" class="column is-3 is-spaced">
                    <div class="card">
                        <div class="card-image">
                            <figure class="image">
                                <img src="<%= event.img.src %>" alt="<%= event.img.alt %>">
                            </figure>
                        </div>
                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="is-6"><%- event.date %></p>
                                    <p class="is-6"><%- event.location %></p>
                                    <p class="title is-4"><%- event.title %></p>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <%_ }); -%>
            </div>
            <div class="columns is-desktop is-centered is-spaced mdj-content-top">
                <div class="column is-10">
                    <%_ var pastEvents -%>
                    <%_ pastEvents.forEach(function(event, key) { -%>
                      <%_ if (event.href) { -%>
                        <p><a target="_blank" href="<%= event.href %>"><%- event.title %></a> (<%- event.date %>)</p>
                      <%_ } else { -%>
                        <p><%- event.title %> (<%- event.date -%>)</p>
                      <%_ } -%>
                    <%_ }); -%>
                </div>
            </div>

        </div>
    </section>
<%- include('../_layout/footer') -%>
